<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Encrypter The Decrypter</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

</head>

<body>
  <form action="#" method="POST">

    <h1>Input Text</h1>
    <p><input type="text" name="input" /></p>
    <!--<textarea name="" rows="8" cols="80">Enter text here...</textarea>-->
    <br>
    <br>

    <br>
    <br>

    <h1>Output Text</h1>
    <br>
  <!--   <textarea name="" rows="8" cols="80"></textarea> -->
    <p><input type="text" name="input" /></p>
    <input type="submit" value="submit" />
  </form>
</body>

</html>
